body {
  background-color: #d0d0d0;
  font-family: sans-serif;
}

/* PAYMENT TYPE */
.block5 {
  width: 80%;
}

.block4 h1,
.block5 h1 {
  /*margin: 0;*/
  background-color: #000000;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-size: 19px;
  padding: 5px;
}

.block5Container img {
  height: 20px;
  float: right;
  padding-right: 3px;
}

.block5Container div {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

visa,
kreditKort,
mobilePay,
giroKort {
  display: inline-block;
}

/* ORDER OVERVIEW */

.block7,
.agreement {
  width: 80%;
  margin-left: 10%;
}
