$dark-grey: #333;
$light-grey: #5c5c5c;

* {
  font-family: sans-serif;
  font-size: 24px;
  margin: 0 auto;
}
body {
  width: 100vw;
  position: relative;
  div.block4 {
    width: 80%;
    background-color: #ccc; // need bg color code
    padding-bottom: 20px; // need padding setting
    * {
      width: 100%;
    }
    div.step {
      height: 40px;
      background-color: black;
      border-radius: 5px;
      color: white;
      text-align: center;
      display: flex;
      p {
        align-self: center;
      }
    }
    h4,
    .explaination {
      font-weight: normal;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 0.3em;
      font-size: 19px; // need font-size, need to decide if h4, need to decide on margin around
    }
    div {
      height: 60px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 10px;
      padding: 0 10%;
      label {
        font-size: 19px;
        position: absolute;
        top: 19px;
        left: 15%;
        transition: all 0.3s ease-out;
        transform-origin: top left;
        color: $light-grey;
      }
      input {
        color: $light-grey;
        height: 60px;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: white;
        padding-top: 5px;
        padding-left: 5%;
        font-size: 24px;
        &:focus {
          outline: none;
        }
        &:invalid:not(:placeholder-shown) {
          color: red;
        }
        &:focus + label,
        &[class] + label {
          transform-origin: left top;
          transform: scale(0.6) translateY(-25px); // -25 is temp solution, move the label up a bit so that it doesn't cover the input field
          color: $light-grey;
        }
        &.false + label {
          color: red;
        }
      }
      /* For Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      /* Webkit browsers like Safari and Chrome */
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      #by {
        position: relative;
        top: -45px;
        left: 6ch;
      }
    }
    button.not-active {
      display: none; // by default hide submit button, turn it on using JS when all fields passed local validations
    }
    .explaination {
      font-size: 12px;
      color: $light-grey;
    }
    input[type="radio"] {
      visibility: hidden; // hide radio button, keep label
    }
    div.pay {
      min-height: 50px;
      height: auto;
      width: 80%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 20px;
      padding: 0 10%;
      background-color: white;
      border-radius: 5px;
      input[type="radio"] {
        height: 50px;
        & ~ .payment-label-around-div {
          width: 100%;
        }
      }
      label:not(.payment-label-around-div) {
        color: black; // this should be black?
        height: 100%;
        position: absolute;
        top: 0;
        left: 5%;
        text-align: left;
        display: flex;
        p {
          font-size: 13px;
          align-self: center;
        }
      }
      .payment-label-around-div {
        display: none;
        // transform-origin: center center;
        // position: absolute;
        // width: 62vw;
        // height: 42vw;
        // left: calc(1vw - 1px);
        // top: 4vw;
        // border: 1px solid black;
        // border-radius: 10px;
        // padding: 10px;
        // background-color: white;
        // z-index: 2;
        // text-align: left;
        // transform: scale(0);
        // transition: all 0.3s ease-out;
        p {
          width: 90%;
          height: 40px;
          border-bottom: none;
          &:nth-of-type(2):not(#mobile-pay-p) {
            margin-top: 20px; // move the input area lower. temp solution
          }
          &:last-of-type:not(#mobile-pay-p) {
            // the CVV line, move up and right. temp solution
            width: 4ch;
            position: relative;
            top: -40px;
            left: 40%;
          }
          input {
            font-size: 18px;
            height: 20px;
            border-bottom: 1px dotted $light-grey;
          }
          &#mobile-pay-p input {
            width: 70%;
            height: 30px;
            font-size: 24px;
            padding: 6px 25px;
            border: 1px solid $light-grey;
            border-radius: 21px;
          }
        }
        input.digit2 {
          width: 3ch;
        }
        input.digit4 {
          width: 4ch;
        }
        input.digit2 + span {
          width: 3ch;
        }
      }
      .half-height {
        height: 19vw;
      }
      .half-height > p > span {
        display: inline-block;
        width: 4ch;
      }
      .half-height > p > input {
        display: inline-block;
        width: 8ch;
      }
    }
    div.pay input[type="number"] + label {
      display: none;
      pointer-events: none;
    }
    // .payment-label-around-div ~ input[type="number"] {
    //   display: inherit;
    //   position: relative;
    //   top: -50px;
    // }
    // div.pay input[type="radio"]:checked ~ input[type="number"] + label {
    //   display: inherit;
    // }
    div.pay img {
      width: 50px;
      margin-right: 4px;
      vertical-align: middle;
    }
    img#mobile-pay-img {
      width: 80px;
      margin: 0 auto 0 15px;
    }
    div.pay img.filler {
      visibility: hidden;
    }
    #mobile-pay-confirm.not-active {
      display: none;
    }
    #mobile-pay-confirm {
      width: 100%;
      height: 60px;
      border-radius: 34px;
      margin-top: 20px;
      background-color: #596aa3;
      position: relative;
      display: flex;
    }
    #mobile-pay-confirm div {
      height: 56px;
      width: 56px;
      border-radius: 28px;
      position: absolute;
      top: 2px;
      left: 2px;
      background-color: white;
      display: flex;
      p {
        // temp solution, should use real check mark instead of >
        color: #596aa3;
        font-weight: bold;
        align-self: center;
        text-align: center;
      }
    }
    #mobile-pay-confirm div + p {
      color: white;
      display: inline-block;
      align-self: center;
      text-align: center;
    }
    label[for="giro-check"] {
      display: flex;
      * {
        align-self: center;
      }
      span {
        font-size: 16px;
      }
    }
    #giro-check {
      width: 30px;
    }
    .close {
      position: absolute;
      right: 20px;
      top: 10px;
      text-align: right;
      cursor: pointer;
    }
  }
}
h1 {
  // temp for demo, don't need this setting in the final solution
  color: $light-grey;
  margin: 1em auto;
}
