$dark-grey: #333;
$light-grey: #bebebe;

* {
  font-family: sans-serif;
  font-size: 24px;
  margin: 0 auto;
}
body {
  width: 100vw;
  position: relative;
  form {
    width: 80%;
    * {
      width: 100%;
    }
    div {
      height: 70px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 20px;
      label {
        font-size: 48px;
        position: absolute;
        top: 0;
        transition: all 0.3s ease-out;
        transform-origin: top left;
        color: $dark-grey;
      }
      input {
        height: 60px;
        width: 100%;
        border: none;
        border-bottom: 2px solid $dark-grey;
        font-size: 30px;
        &:focus {
          outline: none;
        }
        &:invalid:not(:placeholder-shown) {
          color: red;
        }
        &:focus + label,
        &[class] + label {
          transform: scale(0.4) translateY(-25px); // -25 is temp solution, move the label up a bit so that it doesn't cover the input field
          color: $light-grey;
        }
        &.false + label {
          color: red;
        }
      }
      /* For Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      /* Webkit browsers like Safari and Chrome */
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      #by {
        position: relative;
        top: -45px;
        left: 6ch;
      }
    }
    button.not-active {
      opacity: 0.5; // by default grey-out submit button, turn it on using JS when all fields passed local validations
      pointer-events: none;
    }
    .explaination {
      font-size: 12px;
      position: relative;
      top: -12px;
      color: $light-grey;
    }
    input[type="radio"] {
      display: none;
    }
  }
}
h1 {
  // temp for demo, don't need this setting in the final solution
  color: $light-grey;
  margin: 1em auto;
}
