label > div {
  border: 1px solid transparent;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
$bkgColor: #d0d0d0;
$greenColor: rgb(150, 211, 90);
$h1Color: hsla(0, 0%, 84%, 1);
$aGray: hsla(0, 0%, 37%, 1);
$blue: #0077ff;
$inputHeigh: 35px;

@mixin h1Setting {
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  text-align: center;
}
@mixin trinSettings {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  width: 80%;
  font-size: 19px;
  margin: 0 auto 3% auto;
}

@mixin h2Setting {
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  margin: 0 0 0 50px;
  font-size: 18px;
  text-align: left;
}

body {
  h1 {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  width: 100vw;
  header {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    background-color: #ffffff;
    p {
      color: $greenColor;
      font-size: 1.5em;
      margin: 0 0 0 10px;
      float: left;
      margin: 10% 0 0 16%;
    }
    img {
      width: 125px;
      margin: 18px 0px 8px 15px;
    }
    div {
      grid-column: 3/4;
    }
    ul {
      display: inline-block;
      padding-left: 10%;
      margin-top: 8%;
      li {
        font-size: 0.52em;
        display: block;
        float: left;
        list-style-type: none;
        margin: 0;
        color: $greenColor;
        font-weight: bold;
      }
    }
  }
  h1 {
    @include h1Setting();
    @include trinSettings();
    padding: 5px 0 5px 0;
  }
  .block1 {
    background-color: $bkgColor;
    height: 270px;
    margin-top: 5%;

    .test1 {
      width: 100px;
      height: 10px;
      background-color: red;
    }
    h4 {
      margin-left: 10%;
      font-size: 18px;
      font-weight: normal;
    }
    #sizeContainer {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      width: 290px;
      height: 160px;
      margin: 0 auto 0 auto;

      img {
        grid-column: 1/2;
        grid-row: 1/5;
        width: 100%;
        max-width: 150px;
        height: auto;
        margin: 30px auto 0 auto;
      }
      h2:nth-child(2) {
        font-size: 18px;
        margin: 0;
        padding: 5px 0 0 0;
        grid-column: 2/5;
        grid-row: 1/2;
        margin: 0;
      }
      div:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      div:nth-child(4) {
        grid-column: 3/4;
      }
      div:nth-child(5) {
        grid-column: 4/5;
      }
      h2:nth-child(6) {
        font-size: 18px;
        margin: 0;
        padding: 5px 0 0 0;
        grid-column: 2/5;
        grid-row: 3/4;
        margin: 0 0 0 0;
      }
      div:nth-child(7) {
        grid-column: 2/3;
        grid-row: 4/5;
      }
      div:nth-child(8) {
        grid-column: 3/4;
      }
      div:nth-child(9) {
        grid-column: 4/5;
      }
      input[type="radio"] {
        display: none;
      }
      label {
        padding: 2px 10px 2px 1.5em;
        border: 1px solid transparent; /* keeps layout from jumping */
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 3px;
        font-weight: bold;
        padding: 10px 0 0 5px;
        font-family: Verdana;
        font-size: 18px;
        box-shadow: 0px 3px 5px #888888;
        display: block;
        text-align: center;
      }
      input {
        position: absolute;
      }
      input[type="radio"]:checked + label {
        border: 2px solid #0077ff;
        background-color: lightblue;
      }
    }
  }
  .block2 {
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      > div {
        display: grid;
      }
    }
    h1 {
      @include h1Setting();
    }
    div:nth-child(2) {
      display: grid;
      height: auto;
      img {
        height: 200px;
      }
    }
    select {
      width: 60%;
      margin: 0 auto;
      height: 170px;
      border: none;
      text-align-last: center; // trick solution
      option {
        height: 40px;
      }
    }
  }
  .block3 {
    position: relative;
    background-color: $bkgColor;
    padding: 0 10% 30px;
    h1 {
      width: 100%;
    }
    h4 {
      font-weight: normal;
      margin-bottom: 0.5em;
      font-size: 18px;
    }
    .block3Container {
      font-weight: bold;
      div {
        border-radius: 5px;
        position: relative;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        width: 100%;
        font-size: 1em;
        background-color: white;
        padding: 0px 0 0 5px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 0.4fr 0.4fr 0.8fr 2.1fr;
        span {
          align-self: center;
          grid-column: 1/2;
          font-size: 25px;
          padding-top: 15px;
        }
        span.x {
          grid-column: 2/3;
          font-size: 18px;
        }
        span.prize {
          grid-column: 4/5;
          margin: 0;
          font-size: 18px;
        }
        img {
          max-width: 50px;
          grid-row: 1/3;
          grid-column: 3/4;
          transform: scale(0.8);
        }
        input[type="radio"] {
          display: none;
        }
        input:checked + label {
          border: 5px solid red;
        }
        p:nth-child(2) {
          color: $aGray;
          font-size: 0.7em;
          margin: 5px 0 0 27px;
          padding: 2px 0 5px 0;
          text-align: center;
        }
      }
    }
  }
  .block4 {
    height: auto;
  }
  .block5 {
    h1 {
      @include trinSettings();
      @include h1Setting();
    }
    .block5Container {
      margin-top: 20px;
      width: 60%;
      div {
        height: $inputHeigh;
        margin: 10px 0 15px 0;
        line-height: $inputHeigh;
        background-color: white;
        border: $h1Color solid 1px;
      }
      img {
        width: 50px;
        height: 29px;
        float: right;
        margin: 0 10px 0 0;
      }
    }
  }
  .block6 {
    .order-overview-container {
      h3 {
        color: white;
        background-color: #0077ff;
        padding: 7px;
      }
      p {
        font-size: 16px;
        margin: 0.5em 0;
        &:nth-of-type(1),
        &:nth-of-type(3) {
          font-weight: bold;
        }
      }
    }
    .i-alt {
      width: 97%;
      font-size: 19px;
      font-weight: bold;
      background-color: #ddd;
      padding: 5px;
      margin: 15px auto;
    }
  }
  .block7 {
    * {
      font-size: 16px;
      margin: 0.5em 0;
    }
    .button {
      background-color: grey; //40c018
      border-radius: 5px;
      border-color: transparent;
      color: #ffffff;
      padding: 10px 32px;
      text-align: center;
      cursor: pointer;
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
    }
    .button.live {
      background-color: #40c018;
      pointer-events: inherit;
    }
  }
}
.grey-out {
  color: lightgrey;
}
.hide {
  opacity: 0; // temp solution
}

.small-font {
  font-size: 12px;
  color: grey; // need to decide
  padding: 0;
  margin: 0;
  font-weight: normal;
  grid-column: 4/5;
}
.white-on-green {
  // need to be behind .small-font, need to overwrite padding setting
  background-color: $greenColor;
  color: white;
  padding: 2px 4px;
  border-radius: 0 5px 0 5px;
}
.top-right-absolute {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
}
strong {
  color: red;
}
