label > div {
  border: 1px solid transparent;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
$bkgColor: rgb(244, 244, 244);
$greenColor: rgb(150, 211, 90);
$h1Color: hsla(0, 0%, 84%, 1);
$aGray: hsla(0, 0%, 37%, 1);
$inputHeigh: 35px;

@mixin h1Setting {
  background-color: $h1Color;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  margin: 0;
  font-size: 1.35em;
  text-align: center;
}

body {
  width: 100vw;
  header {
    p {
      color: $greenColor;
      font-size: 2.1em;
      margin: 0 0 0 10px;
      float: left;
    }
    img {
      width: 125px;
      margin: 7px 0px 8px 15px;
    }
    hr {
      margin: 0;
    }
    ul {
      display: inline-block;
      li {
        font-size: 0.7em;
        text-align: center;
        display: block;
        float: left;
        list-style-type: none;
        margin: 0 20px 0 0;
        color: $greenColor;
        font-weight: bold;
      }
    }
  }
  .block1 {
    background-color: $bkgColor;
    h1 {
      @include h1Setting();
    }
    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      img {
        width: 150px;
        margin: 0 auto;
      }
      div:first-child {
        grid-column: 1/2;

        img {
          grid-column: 2/3;
        }
      }
      div:nth-child(2) {
        grid-column: 2/3;

        div {
          grid-column: 2/3;
          background-color: $greenColor;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          font-size: 3.4em;
          padding: 0 0 0 4px;
          color: white;
          line-height: 40px;
          text-align: center;
          margin: 100% 0 0 0;
        }
      }
      div:nth-child(3) {
        grid-column: 3/4;
        img {
          grid-column: 2/3;
        }
      }
    }
  }
  .block2 {
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      > div {
        display: grid;
      }
    }
    h1 {
      @include h1Setting();
    }
    div:nth-child(2) {
      display: grid;
      height: auto;
      img {
        height: 200px;
      }
    }
    select {
      width: 60%;
      margin: 0 auto;
      height: 170px;
      border: none;
      text-align-last: center; // trick solution
      option {
        height: 40px;
      }
    }
  }
  .block3 {
    position: relative;
    background-color: $bkgColor;
    h1 {
      @include h1Setting();
    }
    .block3Container {
      padding-top: 25px;
      font-weight: bold;
      div {
        position: relative;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        width: 80%;
        font-size: 1em;
        background-color: $bkgColor;
        padding: 0px 0 0 50px;
        margin: 10px auto 0 auto;
        p:first-child {
          font-size: 0.7em;
        }
        p:nth-child(2) {
          color: $aGray;
          font-size: 0.7em;
          margin: 5px 0 0 27px;
          padding: 2px 0 5px 0;
        }
      }
      p:nth-child(4):not(.small-font) {
        // this is the <p> about porto,
        font-size: 0.7em;
        font-weight: normal;
        text-align: right;
        margin-right: 10%;
        margin-bottom: 0;
      }
      label > div > p {
        margin-left: 18px; // to align the text, same effect as move the radio buttons to the left. (don't know how to move the whole input line. if move input, only the button will move, the text will stay at its original position)
      }
    }
  }
  .block4 {
    height: 350px;
    background-color: $bkgColor;
    h1 {
      @include h1Setting();
    }
    div {
      margin: 11px 0 0 55px;
      font-size: 0.8em;
      height: 40px;
      width: 75%;
      position: relative;

      label {
        text-align: center;
        line-height: $inputHeigh;
        height: $inputHeigh;
      }

      input {
        width: 70%;
        height: $inputHeigh;
        float: right;
        position: absolute;
        left: 90px;
      }
    }
    div:nth-child(2) {
      margin-top: 30px;
    }
    div:nth-child(5) {
      input:nth-child(2) {
        width: 50%;
        margin-left: 64px;
        float: right;
      }
      input:nth-child(3) {
        width: 16%;
        float: left;
      }
    }
  }
  .block5 {
    h1 {
      @include h1Setting();
    }
    background-color: $bkgColor;
    .block5Container {
      margin-top: 20px;
      width: 60%;
      div {
        height: $inputHeigh;
        margin: 10px 0 15px 0;
        line-height: $inputHeigh;
        background-color: white;
        border: $h1Color solid 1px;
      }
      img {
        width: 50px;
        height: 29px;
        float: right;
        margin: 0 10px 0 0;
      }
    }
  }
  .block6 {
    padding-bottom: 30px;
    background-color: $bkgColor;
    *:not(li) {
      text-align: center;
      font-weight: bold;
    }
    .order-overview-container {
      padding: 3px;
      width: 80%;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      h3 {
        color: white;
        background-color: blue;
        padding: 7px;
      }
    }
    .i-alt {
      width: 98%;
      background-color: #ddd;
      padding: 15px;
    }
  }
  .block7 {
    button {
      width: 80%;
      margin-top: 30px;
      position: relative;
      left: 10%;
      font-size: 1.35em;
      color: white;
      background-color: $greenColor;
      padding: 11px;
    }
    li {
      width: 90%;
      position: relative;
      left: -15px;
      font-weight: normal;
      text-align: left;
      font-size: 0.8em;
      margin-bottom: 1em;
    }
  }
  footer {
    background-color: red;
    height: 80px;
  }
}
.grey-out {
  color: lightgrey;
}
.hide {
  opacity: 0; // temp solution
}
.blue {
  color: blue;
}
.small-font {
  font-size: 0.7em;
  padding: 5px 5px 5px 0;
  font-weight: normal;
}
.white-on-green {
  // need to be behind .small-font, need to overwrite padding setting
  background-color: $greenColor;
  color: white;
  padding: 5px;
}
.top-right-absolute {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
}
strong {
  color: red;
}
